/* Credits:
CodyMKW - created the original version for Miiverse
Arian K. - made an updated version for Closedverse
PF2M - colorized everything and later updated it for Indigo
*/
#sidebar-profile-body .nick-name, .news-list .nick-name, .list-content-with-icon-and-text .nick-name a, .user-name a, .file-button-container, .file-button {
    color: #fff;
}
.post-permalink-button:hover, .favorite-community-link.symbol, .trigger:active, #wrapper, #reply-content button.more-button:hover, .spoiler-button:hover, #sidebar-profile-status, #guide-menu .arrow-button:hover, .community-eyecatch-info:hover, #community-favorite:hover, .big-button:hover, .sidebar-setting a:hover, .multi-timeline-post-list .post.hidden .screenshot-container, .multi-timeline-post-list .post .screenshot-container, .trigger:hover, .textarea-container .community-container, .post-form-album-content, .admin-messages .post.my, #identified-user-banner:hover, .sidebar-setting a.selected, .sidebar-container h4 a:hover, #yeah-content, .sidebar-profile .profile-comment, .post-list .recent-reply-content, .post-list .recent-reply-content .recent-reply-read-more-container:hover, .community-name .owner, .post-list-heading-button, .topic-title-input, .textarea, .yeah-button, .hidden-content-button, .community-description, .file-button-container, .file-button, .repost-error, .messages .post.my, #reply-content .list .my {
    background-color: var(--theme-darker, #180030) !important;
}
body, #footer, .favorite-community-link.symbol:hover, .post.hidden:hover, .filtering-label, #guide-menu:hover, #post-diary-window, .spoiler-button, .textarea-line, .dialog .window-body, .digest .post .icon-container, .icon-container .icon, #sidebar-profile-body .icon, .sidebar-container, .post .community-container, #global-menu #global-my-menu, .guest#post-permlink .guest-message p, form.search input[type="text"], form.search input[type="submit"], .warning-content, .community-card-list > li, .post-permalink-button, .repost:hover {
    background-color: var(--theme-dark, #200040) !important;
}
body, .community-title, #footer-selector li button, #footer-inner p a, .post-list.empty, .album-list.empty, .list > .no-content, .no-content, .community-game-title, .arrow-button, .post .hidden-content button, .post .deleted-message button, .post .hidden_as_violation button, .post .hidden-content a, .post .deleted-message a, .post .hidden_as_violation a, .post .community-container-heading a, .list-content-with-icon-and-text .text, .list-content-with-icon-and-text .id-name, #sidebar-profile-body .id-name, #post-diary-window p, .sidebar-container h4 a, .post-list .empathized-user-name, .post-list .acted-user-name, .post-list .recommend-user-title, .headline h2, #post-content .post-content-text, #global-menu li a, #global-menu li button, #sidebar-profile-status .number, .community-name, .community-name a, .community-list .title, .sidebar-setting .sidebar-menu-relation:before, #reply-content button.more-button, .sidebar-profile .profile-comment, .guest#post-permlink .guest-message p, form.search input[type="text"], .community-name .owner, .post-list-heading-button, .topic-title-input, .textarea, .yeah-button, .post-permalink-button, .hidden-content-button, .community-description, #admin-menu ul li:not(.selected) a {
    color: #ccc !important;
}
input[type=text], input[type=number], input[type=password], input[type=email], input:not([type]), select {
    background-color: var(--theme-darker, #180030);
	color: #fff;
	border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
.guest .guest-message p {
  color: #ccc;
  background: #1b1b1b;
}
.guest-message .arrow-button {
  border-top: 1px solid #000 !important;
}
.delete {
    color: #ccc;
}
.delete:hover {
    color: var(--theme-dark, #200040) !important;
}
.spoiler-button, .textarea-line {
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
.post-form-album-content {
    border: 1px solid #000;
}
.post-form-album-content:before {
    border-bottom-color: #000;
}
#sidebar-cover {
    border-bottom: 1px solid #000;
}
.post-list-heading-button {
    border: 1px solid #000;
    border-bottom-color: #000;
}
.filtering-label .button {
    border-left: 1px solid #000;
}
.mask {
    background: rgba(0, 0, 0, 0.6);
}
.post-list-heading-button:hover {
    background: rgb(35, 35, 35);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.topic-title-input, .textarea {
    border: 1px solid #000;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.12), 0 1px 0 #211e1e;
}
.hidden-content-button {
    border: 1px solid #000;
    border-bottom-color: #000;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.hidden-content-button:hover {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 2px 4px rgba(0,0,0,0.1);
}
.yeah-button {
    border: 1px solid #000;
    border-bottom-color: #000;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.yeah-button:hover {
    background: rgb(35, 35, 35);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.yeah-button:disabled:hover {
    background: var(--theme-darker, #100020);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.setting-form li {
    border-bottom: 1px solid #000;
}
form.search input[type="submit"] {
    color: #646464;
}
.sidebar-setting .sidebar-menu-relation:before {
    color: #000;
}
.community-list-cover {
    border-bottom: 1px solid #000;
}
.simple-wrapper.simple-wrapper-content #wrapper {
    margin: 0px auto 0;
}
.simple-wrapper.simple-wrapper-content #main-body {
    border: 1px solid rgba(21, 20, 20, 0) !important;
}
.warning-content {
    border: 1px solid rgb(0, 0, 0);
}
.community-eyecatch-balloon {
    color: #CCCCCC;
    background: rgb(32, 32, 32);
}
.community-eyecatch-balloon:after {
    border-color: transparent rgb(32, 32, 32) rgba(0, 0, 0, 0) transparent;
}
.post-body .multi-timeline-post-list .post-subtype-artwork .hidden-content {
    background-color: var(--theme-darker, #100020);
    border-top: 1px dashed #000;
}
.community-list .siblings {
    color: #969696;
    border-left: 1px solid #000;
}
.post-list > .post-list-outline {
    border-top: 1px solid rgb(0, 0, 0);
}
#main-body > .no-content {
    background: var(--theme-dark, #200040) none repeat scroll 0% 0%;
    border: 1px solid #000;
    box-shadow: 0px 1px 0px #000;
}
.notify {
    background: #424242 !important;
}
.tab2 a, .tab3 a {
    background-color: var(--theme-dark, #200040);
    background: -webkit-gradient(linear, left top, left bottom, from(var(--theme-dark, #200040)), to(var(--theme-dark, #200040)), color-stop(0.5, var(--theme-dark, #200040)));
    background: -webkit-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: -moz-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: -ms-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: -o-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    color: #CCCCCC;
    border: 1px solid #000;
    border-bottom-color: #000;
}
.album-dialog .album-close-button {
    background: -webkit-linear-gradient(bottom, var(--theme-dark, #200040), var(--theme-dark, #200040));
    border: 1px solid #000000;
}
.tab2 a:hover, .tab3 a:hover {
    background: var(--theme-darker, #100020);
    -webkit-box-shadow: inset 0 1px 0 var(--theme-darker, #100020), 0 2px 4px rgba(22, 22, 22, 0);
    -moz-box-shadow: inset 0 1px 0 var(--theme-darker, #100020), 0 2px 4px rgba(22, 22, 22, 0);
    -ms-box-shadow: inset 0 1px 0 var(--theme-darker, #100020), 0 2px 4px rgba(22, 22, 22, 0);
    -o-box-shadow: inset 0 1px 0 var(--theme-darker, #100020), 0 2px 4px rgba(22, 22, 22, 0);
    box-shadow: inset 0 1px 0 var(--theme-darker, #100020), 0 2px 4px rgba(22, 22, 22, 0);
}
.tab2 > a:first-child, .tab3 > a:first-child {
    border-left: 1px solid #000;
}
.community-eyecatch-infoicon {
    border: 1px solid #000;
}
.open-topic-post-existing-warning {
    background-color: rgb(32, 32, 32);
}
.open-topic-post-existing-warning .content {
    border: 2px solid #E8316E;
}
.list .toggle-button .button:before {
    color: #CCC;
    width: 30px;
    height: 34px;
    border: 1px solid #000;
    border-bottom-color: #000;
    box-shadow: inset 0 0.5px 0 rgba(0, 0, 0, 0.9);
}

.topic-categories-container {
    background: var(--theme-dark, #200040);
    -webkit-box-shadow: 0 1px 0 var(--theme-dark, #200040);
    -moz-box-shadow: 0 1px 0 var(--theme-dark, #200040);
    -ms-box-shadow: 0 1px 0 var(--theme-dark, #200040);
    -o-box-shadow: 0 1px 0 var(--theme-dark, #200040);
    box-shadow: 0 1px 0 var(--theme-dark, #200040);
}
.button {
    border: 1px solid rgb(0, 0, 0);
    border-bottom-color: #000;
    background: var(--theme-dark, #200040);
    color: #ccc;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.button:hover {
    background: var(--theme-darker, #100020);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.post-list a.another-posts {
    background-color: rgba(0, 0, 0, 0.04);
    border-top: 1px solid #000;
    color: #ccc;
}
.sidebar-setting li {
    border-top: 1px solid #000;
}
.community-list .icon-container .icon {
    border: 1px solid #000;
}
#sidebar-profile-status li a > span {
    display: block;
    border-right: 1px solid var(--theme-dark, #200040);
}
#global-menu li#global-menu-mymenu .icon-container img:not(.official-tag) {
    border: 1px solid #000;
    width: 36px;
    height: 36px;
}
#global-menu #global-my-menu {
    border: 2px solid #000;
}
#global-menu #global-my-menu:before {
    border-color: transparent;
    border-bottom-color: #000;
}
#global-menu #global-my-menu:after {
    border-color: transparent;
    border-bottom-color: var(--theme-dark, #200040);
}
.list-content-with-icon-and-text li {
    border-top: 1px solid #000;
}
.filter-button {
    color: #ccc;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(0, 0, 0);
}
.filter-button:hover {
    background-color: rgba(22,22,22,1);
    color: #696666;
}
#community-eyecatch-main > div {
    background: var(--theme-dark, #200040);
    border: 1px solid rgb(0, 0, 0);
}
#guide-menu {
    background: var(--theme-dark, #200040);
    border: 1px solid rgb(0, 0, 0);
}
#guide-menu .arrow-button {
    border-top: 1px solid #000;
}
#community-favorite {
    background: var(--theme-dark, #200040);
    border: 1px solid rgb(0, 0, 0);
}
#identified-user-banner {
    background: var(--theme-dark, #200040);
    border: 1px solid rgb(0, 0, 0);
}
.digest .post .body {
    background: var(--theme-dark, #200040);
    border: 1px solid rgb(0, 0, 0);
}
.digest .post .body:after {
    border-color: transparent var(--theme-dark, #200040) transparent transparent;
}
.digest .post .body:before {
    border-color: transparent #000 transparent transparent;
}
.digest .post .community-container {
    border: 1px solid #000;
    border-top: 1px solid #000;
}
.accepting > span {
    background-color: rgba(255, 247, 179, 0);
    color: #e33ea2;
}
.accepting > span:before {
    color: #f90047;
}
.not-accepting > span {
    background-color: rgba(255, 247, 179, 0);
    color: #969696;
}
.not-accepting > span:before {
    color: #FF0000;
}
.guest#post-permlink .guest-message .arrow-button {
    border-top: 1px solid #000;
}
.community-card-list > li {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #000;
}
#sub-body {
    background: var(--theme-dark, #200040);
    border-bottom: 2px solid #000;
    box-shadow: 0 0 15px #000;
}
.content-loading-window.activity-feed img {
  visibility: hidden;
  width: 22px;
  height: 22px;
}
.post-form-album-content:after {
    border-bottom-color: #1a1a1a;
}
.pager-button {
    background: #1A1A1A;
}
.pager-button .back-button {
    border-right: 1px solid #000;
}

.pager-button .next-button {
    border-left: 1px solid #000;
}
.pager-button .button {
    color: #969696;
	background-color: #313131;
}
.guest #about {
    background: var(--theme-dark, #200040);
    border-bottom: 2px solid #000;
}
.guest .guest-terms-link:hover {
    background-color: #E64E25;
}
.tutorial-window {
    background-color: rgb(32, 32, 32);
}
.post-list .recent-reply-content {
    border: 1px solid #000 !important;
}
.post-list .recent-reply-content .recent-reply-read-more-container {
    border-bottom: 1px solid #000 !important;
}
h2.label-diary_post, h2.label-diary {
    border-bottom: 3px solid #04c9db;
    color: #00b7d8;
}
h2.label-artwork_post, h2.label-artwork {
    border-bottom: 3px solid #fcc735;
    color: #ffae00;
}
h2.label-topic_post, h2.label-topic {
    border-bottom: 3px solid #e8316e;
    color: #e8316e;
}
.post-list-outline {
    background: var(--theme-dark, #200040);
    border: 1px solid rgb(0, 0, 0);
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.post .community-container {
    border-bottom: 1px solid #000;
}
.list > li, .list > div, .list > a, .list > span {
    border-top: 1px solid #000;
}
/*.list > li span {
    padding: 5px!important;
}*/
#sidebar-community .sidebar-setting a {
    border-top: 1px solid #000;
}
.sidebar-container {
    border: 1px solid rgb(0, 0, 0);
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.big-button {
    background: #fff;
    border: 1px solid rgb(0, 0, 0);
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--theme-dark, #200040);
    color: #ccc;
}
form.search {
    background: #fff;
    border: 2px solid #000;
}
.sidebar-setting a {
    color: #ccc;
    border-top: 1px solid #000;
}
.user-data .note {
    border-bottom: 2px dashed var(--theme-darker, #100020);
    color: #ccc;
}
#sidebar-profile-body .icon {
    border: 1px solid #000;
}
.icon-container .icon {
    border: 1px solid #000;
}
.digest .post .icon-container {
    border: 1px solid rgb(0, 0, 0);
}
#yeah-content .post-permalink-feeling-icon .user-icon {
    border: 1px solid #000;
    background: transparent;
}
#yeah-content.none + .buttons-content {
border-top: 1px solid #222;
}
#yeah-content {
    border: 1px solid #000;
}
#reply-content button.more-button {
    border: #000;
}
#reply-content .list .my.trigger:hover,
#reply-content .list .my.trigger:hover .yeah-button,
.list-content-with-icon-and-text .trigger.selected {
    background-color: #181818 !important;
}
#reply-content .info-reply-list + button.more-button, #reply-content .more-button + .more-button {
    border-top: 1px solid #000;
}
.dialog .window-body {
  border: 1px solid #050207;
}
#post-form + #community-post-list .list > div:first-child {
    border-top: 1px solid #000;
}
.user-community .icon-container .user-icon {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(221, 221, 221, 0);
}
#wrapper, #image-header-content {
    background: var(--theme, #8000ff) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAEpElEQVR4nO2dW3LiQBAEE8kmOPae2w7j/ZjFa0CAHi1N16jqABMZlf2pKB1Op9MfgnI8Hun7Puq5q5zPZz4+Pvj+/g55z6yFs4t6zIWWqLBeOEMOwIWWqLD+5lx8AC60RIX1lnPRAbjQEhXWIc7ZB+BCS1RYH3HOOgAXWqLC+oxz8gG40BIV1leckw7AhZaosI7hHH0ALrREhXUs56gDcKElKqxTOF8egAstUWGdyvn0AFxoiQrrHM6HB+BCS1RY53IOHoALLVFhXcJ5dwAutESFdSnn1QG40BIV1gjOnwNwoSUqrFGcHbjQS1RYIzk7F1qiwhrN2e29UNBhXYPzLeSlm3x9ffH5+Zm+UNi3/L7v4z4KvcTydeTDwk/CbmP5WvIh8AAsX08+BB2A5WvKh4ADOJ/Plh+cLTkXHYBKoaDDujXn7ANQKRR0WGtwzjoAlUJBh7UW5+QDUCkUdFhrck46AJVCQYe1NufoA6gNOiUqrBk4Rx1ABtCxUWHNwvnyALKAjokKaybOpweQCfRVVFizcT48gGygz6LCmpFz8AAygj6KCmtWzrsDyAo6FBXWzJxXB5AZ9DYqrNk5fw4gO+jvqLAqcHagAXqJCqsKZ6cCCjqlqnACdCqgKqWqcEL5kqtTAFUpVYUTinxPxQZGhRP+y4eAbwItX4cTruWDp2IXR4UT7uWDp2IXRYUThuWDp2JnR4UTHssHT8XOigonPJcPnoqdHBVOeC0fPBU7KSqcME4+eCp2dFQ4Ybx88FTsqKhwwjT54KnYl1HhhOnywVOxT6PCCfPkg6diH0aFE+bLB0/FDkaFE5bJB0/F3kWFE5bLB0/FXkWFE2Lkg6dif6LCCXHywVOxgA4nxMo/HA6eilXhhHj5x+MxfikUdEpV4YSV5Hdd/AGolKrCCevJh+CpWJVSVThhXfkQeAAqpapwwvryIegAVEpV4YRt5EPQVKxCqSqcsJ182MlUrAonbCsfdjAVq8IJ28uHxqdiVTihjnxoeCpWhRPqyYdGp2JVOKGufGhwKlaFE+rLh8amYlU4IYd8aGgqVoUT8siHRqZiVTghl3xoYCpWhRPyyQfxqVgVTsgpH4SnYlU4Ia98EJ2KVeGE3PJBcCpWhRPyywexqVgVTtCQD/Cm8t9fy1/l+106y4+NknyJqVjLX09++qlYy19XPiSeirX89eVD0qlYy99GPiScirX87eRDsqlYy99WPiSairX87eVDkqlYy68jHxJMxVp+PflQeSrW8uvKh4pTsZZfXz5Umoq1/BzyocJUrOXnkQ8bT8Vafi75sOFUrOXnkw8bTcVafk75sMFUrOXnlQ8rT8Vafm75sOJUrOXnl7/aVKzla8h/f3/f71IoWH7f97yFvPgvlq8hf5WpWMvXkw87WwoFyw+firV8Xfmwk6VQsPzwqVjL15cPjS+FguWHT8VafjvyodGlULD88KlYy29PPjS2FAr1C52SDKzNLIVCjkLHJgtrE0uhkKfQMcnEKr8UCrkKfZVsrNJLoZCv0GfJyCq7FAo5C32UrKySS6GQt9ChZGaVWwqF3IXeJjur1FIo5C/0dxRYO8vfr3yAv3rECG2I4F0DAAAAAElFTkSuQmCC') !important;
}
#yeah-content:before {
    background: url(/assets/img/rks.png) no-repeat 0 0 !important;
}
.community-switcher .community-switcher-tab {
    background-color: var(--theme-dark, #200040);
    background: -webkit-gradient(linear, left top, left bottom, from(var(--theme-dark, #200040)), to(var(--theme-dark, #200040)), color-stop(0.5, var(--theme-dark, #200040)));
    background: -webkit-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: -moz-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: -ms-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: -o-linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    background: linear-gradient(top, var(--theme-dark, #200040) 0%, var(--theme-dark, #200040) 50%, var(--theme-dark, #200040) 100%);
    border: 1px solid black;
    color: #fff;
}
.community-switcher .community-switcher-tab:first-of-type {
    border-left: 1px solid black;
}
code,
pre {
    border: 1px solid #404050 !important;
    color: #CCC !important;
    background-color: var(--theme-darker, #100020) !important;
}
@media screen and (max-width: 980px) {
	#global-menu #global-menu-list > ul > li > a:hover {
	    background-color: #333 !important;
	}
	#global-menu #global-menu-list > ul > li#global-menu-my-menu button:hover {
	    background-color: #333 !important;
    }
}
@media screen and (max-width: 640px) {
	.list .toggle-button .button:before {
    height: 28px !important;
	}
}
#my-menu-logout input {
    color: #ccc !important;
}
.warning-content {
    color: #ccc;
}
.post-migration-label {
    background-color: #333;
}
.character-count {
    color: #fff;
}